*{
  box-sizing: border-box;
}

.App{
  background-color: #0B2434;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main{
  background-color:#F5F5F5 ;
  height: 500px;
  width: 500px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main .title{
  padding: 0;
  margin: 0;
  font-size: 40px;
  color: #0B2434;
}
.main .instructions{
  padding-left: 40px;
  padding-right: 40px;
  font-size: 21px;
}
.die-container{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 20px;
}
.die-container button{
  height: 50px;
  width: 50px;
  font-size: 30px;
  font-weight: bold;
  color: #0B2434;
  outline: none;
  border: none;
  box-shadow: 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border-radius:5px ;
}
.roll{
  margin-top: 40px;
  font-size: 25px;
  padding: 10px 30px;
  font-weight: bold;
  color: #0B2434;
  background-color: #5035FF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}